<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Lista de produtos</h1>
    <ul>
        <% produtos.forEach( produto => { %>
            <li>
                <strong><%=produto.name%></strong><br>
                <%= produto.description %><br>
                R$ <%= produto.price.toFixed(2) %>
            </li>
        <% }) %>
    </ul>
    <a href="/">Voltar</a>
</body>
</html>